<app-navbar></app-navbar>
<body>
  <app-profile-info></app-profile-info>
  <app-favorite-artists></app-favorite-artists>
  <h4 class="songFeedHeader">Song Feed</h4>
  <div class="songFeedContainer">
    <div class="resultsContainer" *ngFor="let i of favoriteSongs" >
      <p class="dateAdded">Posted on {{i.createdAt.substring(0,10)}}</p>
      <div class="d-inline" *ngIf="myProfile">
        <i (click)="deleteSong(i._id)" class='far fa-trash-alt deleteIcon'></i> 
      </div>
      <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl('https://open.spotify.com/embed/track/'+i.song_id)" class="searchIframes mt-1 " frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
  <div class="friendsList">
    <h5>Following</h5>
    <div class="asd" *ngFor="let i of following">
      <div class="followerContainer">
        <a href="/{{i.username}}"> <img class="followingPics" src="{{i.profile_pic}}" alt=""></a>
        <div *ngIf="myProfile">
          <div class="d-inline">
            <div class="followingInfo">{{i.name}}</div>
          </div>
          <div class="d-inline">
            <button (click)="unfollow(i._id)" class="followButton btn btn-sm btn-warning" placement="top" ngbTooltip="Click to unfollow">Following</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
</body>